	{% if page_obj.has_other_pages %}
		<nav aria-label="Pagination" class="mb-4">
			<ul class="pagination">
				{% if page_obj.number > 1 %}
					<li class="page-item">
						<a class="page-link" href="#"
						   hx-get="{% url link %}?search={{search}}&page=1"
						   hx-trigger="click"
						   hx-target="#display-table"
						>
							First
						</a>
					</li>
				{% else %}
					<li class="page-item disabled">
						<span class="page-link">First</span>
					</li>
				{% endif %}

				{% if page_obj.number > 10 %}
						<li class="page-item">
							<a class="page-link" href="#"
							   hx-get="{% url link %}?search={{search}}&page={{ page_obj.number|add:'-10' }}"
							   hx-trigger="click"
							   hx-target="#display-table"
							>
								10 &lt;&lt;
							</a>
						</li>
				{% endif %}

				{% if page_obj.has_previous %}
					<li class="page-item">
						<a class="page-link" href="#"
						   hx-get="{% url link %}?search={{search}}&page={{ page_obj.previous_page_number }}"
						   hx-trigger="click"
						   hx-target="#display-table"
						>
							&lt;
						</a>
					</li>
				{% else %}
					<li class="page-item disabled">
						<span class="page-link">&lt;</span>
					</li>
				{% endif %}

				{% for page_num in page_obj.paginator.page_range %}
					{% if page_obj.number == page_num %}
						<li class="page-item active">
							<span class="page-link">
								{{ page_num }}
							</span>
						</li>
					{% elif page_num > page_obj.number|add:'-3' and page_num < page_obj.number|add:'3' %}
						<li class="page-item">
							<a class="page-link" href="#"
							   hx-get="{% url link %}?search={{search}}&page={{ page_num }}"
							   hx-trigger="click"
							   hx-target="#display-table"
							>
								{{ page_num }}
							</a>
						</li>
					{% endif %}
				{% endfor %}

				{% if page_obj.has_next %}
					<li class="page-item">
						<!-- <a class="page-link" href="?page={{ page_obj.next_page_number }}>Next</a> -->
						<a class="page-link" href="#"
						   hx-get="{% url link %}?search={{search}}&page={{ page_obj.next_page_number }}"
						   hx-trigger="click"
						   hx-target="#display-table"
						>
							&gt;
						</a>
					</li>
				{% else %}
					<li class="page-item disabled">
						<span class="page-link">&gt;</span>
					</li>
				{% endif %}

				{% if page_obj.number|add:"10" <= page_obj.paginator.num_pages %}
						<li class="page-item">
							<a class="page-link" href="#"
							   hx-get="{% url link %}?search={{search}}&page={{ page_obj.number|add:'10' }}"
							   hx-trigger="click"
							   hx-target="#display-table"
							>
								&gt;&gt; 10
							</a>
						</li>
				{% endif %}

				{% if page_obj.number != page_obj.paginator.num_pages %}
					<li class="page-item">
						<a class="page-link" href="#"
						   hx-get="{% url link %}?search={{search}}&page={{ page_obj.paginator.num_pages }}"
						   hx-trigger="click"
						   hx-target="#display-table"
						>
							Last
						</a>
					</li>
				{% else %}
					<li class="page-item disabled">
						<span class="page-link">Last</span>
					</li>
				{% endif %}
			</ul>
		</nav>
	{% endif %}